@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
  --primary-color: rgb(86, 86, 158);
  --secondary-color: rgb(44, 44, 19);
  --accent1-color: rgb(30, 99, 30);
  --accent2-color: rgb(88, 27, 27);

  --heading-font: '10px', serif;
  --paragraph-font: '5px', serif;

  --nav-background-color: rgba(21, 180, 82, 0.74);
  --nav-link-color: green;
  --nav-hover-link-color: yellow;
  --nav-hover-background-color: rgb(24, 138, 33);
}  
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}    
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
    padding: 20px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}